<%- include('../admin/layouts/adminheader.ejs') -%>

<div class="row mt-3">

  <div class="col-lg-6">
    <div class="card">
      <div class="card-body">
        <div class="card-title">Add Category</div>
        <hr />
        <% if(errors){ %>
          <p class="text-danger"><%= errors %> </p>
          <% } %>  
        <form action="/admin/addcategory" method="post" id="product-form">
          <div class="form-group">
            <label for="input-1">Category Name</label>
            <input
              type="text"
              name="categoryName"
              class="form-control"
              id="input-1"
              placeholder=""
            />
          </div>
          <!-- <div class="form-group">
                      <label for="input-2">Instock</label>
                      <input type="text"name="instock" class="form-control" id="input-2" placeholder="">
                     </div> -->

          <div class="form-group">
            <button type="submit" class="btn btn-light px-5">
              <i class="icon-lock"></i> ADD
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <%- include('../admin/layouts/adminfooter.ejs') -%>
</div>
