<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="login-form d-flex justify-content-center align-items-center ">
    <form action="/forgetpassword" method="post">
      <h1>Reset Password</h1>
      <div class="content ">
        <div class="input-field">
          <input name="email" type="email" placeholder="Email" autocomplete="nope" />
        </div>
        <button type="submit" >Get Reset Link </button>

      </div>

  </div>
  </div>

  </form>
</body>

</html>