<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="/user/css/style.css" />
</head>

<body>
  <div class="login-form">
    <form action="" method="post">
      <h1>Reset Password </h1>
      <div class="content">

        <div class="input-field">
          <input name="password" type="text" placeholder="Password" autocomplete="new-password" />
          <input type="hidden" name="user_id" value="<%=user_id%>">

          <div class="action">

            <button type="submit ">Reset password</button>
          </div>
    </form>
  </div>
  <!-- partial -->
  <script src="javascripts/script.js"></script>
</body>

</html>